body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #00fc00 , #ff0000); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

#gen-button {
    background: rgb(13, 13, 134);
    color: white;
    font-size: 15px;
    width: 120px;
    padding: 2px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: normal;
    box-shadow: 0px 0px 5px 5px rgba(24, 22, 22, 0.37);
    transition: transform .2s;
    text-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.37);
}

#gen-button:hover {
    background: linear-gradient(to right, rgb(0, 255, 0) , rgb(255, 0, 0));;
    cursor: pointer;
    transform: scale(1.1);
}

#gen-button:active {
    transform: scale(1.0);
}